.calc-component{
    width:70%;
    margin: 20px auto;

    display:flex;
    align-items: stretch;
}

.left-column{
    width:65%;

    flex-grow: 3;
}
.left-column h1{
    color: #140757;
    padding-top:0;
    margin-top:0;
    margin-bottom: 20px;
    font-size:24px;
}
.right-column{
    width: 35%;
    position:relative;
    background: #140757;
}
