.slider-component h2 {
    color: #1454BA;
    font-weight: normal;
    font-size: 17px;
}

.slider-wrapper {
    padding: 0 20px 20px 0;
    display: flex;
    align-items: center;
}

.slider-wrapper .slider {
    flex: 1;
    padding: 10px 20px 10px 0;
}

.slider-wrapper .input {
    flex-basis: 135px;
    min-width: 135px;
    padding: 10px 20px;
}

.slider-wrapper .input input {
    width: 60px;
    display:inline-block;
    height: 30px;
    border: 2px solid lightgray;
    padding-left: 5px;
    font-size: 17px;
}
.slider-wrapper .input .unit{
    display:inline-block;
    padding-left: 5px;
    font-size: 17px;
    font-weight: bold;
}
.labels {
    width: 100%;
    position: relative;
    padding-top: 5px;
}
.labels .left-label, .labels .right-label{
    font-size:12px;
    color: dimgray;
}
.labels .left-label {
    position: absolute;
    left: 0;


}

.labels .right-label {
    position: absolute;
    right: 0;
}
